---
import '../../../styles/styles.css'
import Layout from '../../../layouts/Layout.astro'
import Keyboard from "../../../assets/images/keyboard-3.png"
import ItemPage from "../../../components/item-page.astro"
---

<Layout>
    <main>
        <ItemPage
            itemImgURL={Keyboard.src}
            itemName="Keyboard Three"
            price="$40"
            specs="Best Value! Great performance, fair price."
        />
    </main>
</Layout>