@media (max-width: 500px) {

}

@media (max-width: 1200px){
    nav ul {
        display: flex;
    }
}

@media (min-width: 1200px){
    nav ul {
        display: flex;
    }
}


/* header, main, footer {
    display: flex
} */

header {
    min-width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1000;
}




h1 {
    font-weight: 500;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding: 15px;
}

a {
    text-decoration: none;
}