---
import '../../styles/styles.css'
import Layout from '../../layouts/Layout.astro'
import ListItem from '../../components/item.astro'
import HeadphoneOne from "../../assets/images/headphone-1.jpg"
import HeadphoneTwo from "../../assets/images/headphone-2.png"
import HeadphoneThree from "../../assets/images/headphone-3.png"
import HeadphoneFour from "../../assets/images/headphone-4.png"
---


<Layout>
    <main>
        <h2>Headphones</h2>
        <section>
            <ListItem
                itemName="Headphone 1"
                itemImgURL={HeadphoneOne.src}
                price="$20"
                itemPageURL="/Final-Project-Website/Item-pages/headphones/headphone-one"
            />
        </section>
        <section>
            <ListItem
                itemName="Headphone 2"
                itemImgURL={HeadphoneTwo.src}
                price="$30"
                itemPageURL=""
            />
        </section>
        <section>
            <ListItem
                itemName="Headphone 3"
                itemImgURL={HeadphoneThree.src}
                price="$40"
                itemPageURL=""
            />
        </section>
        <section>
            <ListItem
                itemName="Headphone 4"
                itemImgURL={HeadphoneFour.src}
                price="$50"
                itemPageURL=""
            />
        </section>
    </main>
</Layout>
