---
import '../../styles/styles.css'
import ListItem from '../../components/item.astro'
---

<main>
    <h2>Headphones</h2>
    <section>
        <ListItem
            itemName=""
            itemImgURL="../../assets/images/headphone 1.png"
            price="$20"
            itemPageURL=""
        />
    </section>
    <section>
        <ListItem
            itemName=""
            itemImgURL="../../assets/images/headphone 2.png"
            price="$30"
            itemPageURL=""
        />
    </section>
    <section>
        <ListItem
            itemName=""
            itemImgURL="../../assets/images/headphone 3.png"
            price="$40"
            itemPageURL=""
        />
    </section>
    <section>
        <ListItem
            itemName=""
            itemImgURL="../../assets/images/headphone 4.png"
            price="$50"
            itemPageURL=""
        />
    </section>
</main>