---
import '../../styles/styles.css'
import Layout from '../../layouts/Layout.astro'
import ListItem from '../../components/item.astro'
import MouseOne from "../../assets/images/mouse-1.png"
import MouseTwo from "../../assets/images/mouse-2.png"
import MouseThree from "../../assets/images/mouse-3.png"
import MouseFour from "../../assets/images/mouse-4.png"
---
<Layout>
    <main>
        <h2>Mice</h2>
        <section>
            <ListItem
                itemName="Mouse 1"
                itemImgURL={MouseOne.src}
                price="$20"
                itemPageURL="/Final-Project-Website/Item-pages/mice/mouse-one"
            />
        </section>
        <section>
            <ListItem
                itemName="Mouse 2"
                itemImgURL={MouseTwo.src}
                price="$30"
                itemPageURL="/Final-Project-Website/Item-pages/mice/mouse-two"
            />
        </section>
        <section>
            <ListItem
                itemName="Mouse 3"
                itemImgURL={MouseThree.src}
                price="$40"
                itemPageURL="/Final-Project-Website/Item-pages/mice/mouse-three"
            />
        </section>
        <section>
            <ListItem
                itemName="Mouse 4"
                itemImgURL={MouseFour.src}
                price="$50"
                itemPageURL="/Final-Project-Website/Item-pages/mice/mouse-four"
            />
        </section>
    </main>
</Layout>
