---
import '../styles/styles.css'
import Category from '../components/category.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <main>
        <Category
            categ="Keyboards"
            imgURL="../assets/images/keyboard 1.png"
            catLink="/Final-Project-Website/categories/keyboards"
        />
        <Category
            categ="Mice"
            imgURL="../assets/images/mouse 1.png"
            catLink="/Final-Project-Website/categories/mice"
        />
        <Category
            categ="Monitors"
            imgURL="../assets/images/monitor 1.png"
            catLink="/Final-Project-Website/categories/monitors"
        />
        <Category
            categ="Headphones"
            imgURL="../assets/images/headphone 1.png"
            catLink="/Final-Project-Website/categories/headphones"
        />
    </main>
</Layout>
