---
import '../../../styles/styles.css'
import Layout from '../../../layouts/Layout.astro'
import Monitor from "../../../assets/images/monitor-3.png"
import ItemPage from "../../../components/item-page.astro"
---

<Layout>
    <main>
        <ItemPage
            itemImgURL={Monitor.src}
            itemName="Monitor Three"
            price="$40"
            specs="Best Value! Great performance, fair price."
        />
    </main>
</Layout>