---
import '../../../styles/styles.css'
import Layout from '../../../layouts/Layout.astro'
import Monitor from "../../../assets/images/monitor-2.png"
import ItemPage from "../../../components/item-page.astro"
---

<Layout>
    <main>
        <ItemPage
            itemImgURL={Monitor.src}
            itemName="Monitor Two"
            price="$20"
            specs="lamda"
        />
    </main>
</Layout>