---
import '../styles/styles.css'
import CartImg from '../assets/icons/basket.svg'
---

<style>
    nav {
        display: flex;
        background-color: #1B236B;
        min-width: 100vw;
        justify-content: space-between;
    }

    h1, img{
        color: #FFFFFF;
    }

    img {
        width: 24px;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    .tabs {
        font-size: 1.5rem;
    }

    .side {
        padding: 20px;
    }
</style>

<header>
    <nav>
        <section>
            <h1 class="side"><a href="/Final-Project-Website">QWERTY WORLD</a></h1>
        </section>

        <section>
            <ul style="align-items: center;">
                <li class="tabs"><a href="/Final-Project-Website/category-page">CATEGORIES</a></li>
                <li class="tabs"><a href="/Final-Project-Website/best-sellers">BEST SELLERS</a></li>
            </ul>
        </section>

        <section>
            <ul>
                <li class="side"><a href="/Final-Project-Website"><img src={CartImg.src} alt="SHOPPING CART"></a></li>
            </ul>
        </section>
    </nav>
</header>
