---
import '../styles/styles.css'
---

<style>
    nav {
        display: flex;
        background-color: #1B236B;
        min-width: 100vw;
        justify-content: space-between;
    }

    h1, img{
        color: #FFFFFF;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    .tabs {
        font-size: 1.5rem;
    }
</style>

<header>
    <nav>
        <section>
            <h1><a href="/Final-Project-Website">QWERTY WORLD</a></h1>
        </section>

        <section>
            <ul style="">
                <li class="tabs"><a href="/Final-Project-Website/category-page">CATEGORIES</a></li>
                <li class="tabs"><a href="/Final-Project-Website">BEST SELLERS</a></li>
            </ul>
        </section>

        <section>
            <ul>
                <li><a href="/Final-Project-Website"><img src="../assets/icons/basket.svg" alt="SHOPPING CART"></a></li>
            </ul>
        </section>
    </nav>
</header>
