---
import '../styles/styles.css'
---

<style>
    nav {
        display: flex;
        background-color: #1B236B;
        min-width: 100vw;
        justify-content: space-between;
    }

    h1 {
        color: #FFFFFF;
    }

    img {
        color: #FFFFFF;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    .tabs {
        font-size: 1.5rem;
    }
</style>

<header>
    <nav>
        <section>
            <h1>QWERTY WORLD</h1>
        </section>

        <section>
            <ul style="">
                <li class="tabs"><a href="/">CATEGORIES</a></li>
                <li class="tabs"><a href="/">BEST SELLERS</a></li>
            </ul>
        </section>

        <section>
            <ul>
                <li><a href="/"><img src="" alt="SHOPPING CART"></a></li>
            </ul>
        </section>
    </nav>
</header>
