---
import '../../../styles/styles.css'
import Layout from '../../../layouts/Layout.astro'
import Mouse from "../../../assets/images/mouse-2.png"
import ItemPage from "../../../components/item-page.astro"
---

<Layout>
    <main>
        <ItemPage
            itemImgURL={Mouse.src}
            itemName="Mouse Two"
            price="$20"
            specs="lamda"
        />
    </main>
</Layout>