---
import '../../../styles/styles.css'
import Layout from '../../../layouts/Layout.astro'
import Mouse from "../../../assets/images/mouse-4.png"
import ItemPage from "../../../components/item-page.astro"
---

<Layout>
    <main>
        <ItemPage
            itemImgURL={Mouse.src}
            itemName="Mouse Four"
            price="$50"
            specs="Top of the line. Performance is worth the price. Best for professionals."
        />
    </main>
</Layout>