---
import '../../../styles/styles.css'
import Layout from '../../../layouts/Layout.astro'
import Headphone from "../../../assets/images/headphone-2.png"
import ItemPage from "../../../components/item-page.astro"
---

<Layout>
    <main>
        <ItemPage
            itemImgURL={Headphone.src}
            itemName="Headphone Two"
            price="$30"
            specs="Good middle range option. Works well but not over priced."
        />
    </main>
</Layout>