---
import '../../../styles/styles.css'
import Layout from '../../../layouts/Layout.astro'
import Headphone from "../../../assets/images/headphone-3.png"
import ItemPage from "../../../components/item-page.astro"
---

<Layout>
    <main>
        <ItemPage
            itemImgURL={Headphone.src}
            itemName="Headphone Three"
            price="$40"
            specs="Best Value! Great performance, fair price."
        />
    </main>
</Layout>